body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-gt-walsheim-pro: "GT Walsheim Pro";
  
    /* font sizes */
    --font-size-11xl: 30px;
    --font-size-21xl: 40px;
    --font-size-31xl: 50px;
    --font-size-xl: 20px;
    --font-size-13xl: 32px;
    --font-size-9xl: 28px;
  
    /* Colors */
    --color-white: #fff;
    --color-steelblue: #1986cf;
    --color-darkslategray: #333;
    --color-darkorange-100: #f4900c;
    --color-gainsboro-100: #d9d9d9;
    --color-black: #000;
    --color-gray: rgba(0, 0, 0, 0.74);
  
    /* border radiuses */
    --br-61xl: 80px;
    --br-20xl: 39px;
  }
  